@import "tailwindcss";

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-filter {
  background-color: #f3f3f3;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-filter.active {
  background-color: #007bff;
  color: white;
}
